<footer>
    <div class="restaurantName">
        <img class="biryaniSpiceLogo" src="images/logo.png" alt="biryani spice logo">
    </div>
    <p>0208-0913342</p>
    <p>Address: 22 Kingsley Rd, Hounslow TW3 1NP, United Kingdom</p>
    <p>&#169Copyright2022@Biryanispice.com - All Rights Reserved</p>
</footer>