<footer class="footer">
    <div class="restaurantLogoDiv">
        <img class="biryaniSpiceLogo" src="images/logo.png" alt="biryani spice logo">
    </div>
    <div class="footerInfo">
        <p><a class="phoneLink" href="tel:+442080913342">02080913342 <i class='fas fa-phone-alt fa-flip-horizontal'></i></a></i></p>
        <p>Address: 22 Kingsley Rd, Hounslow TW3 1NP, United Kingdom</p>
        <p class="email">&#169Copyright2022<wbr>@Biryanispice<wbr>.com - All Rights Reserved</p>
    </div>
</footer>