<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <title>Biryani Spice</title>
</head>
<body>
    <div class="stickyHeader">
        <img src="images/logo.png" alt="Biryani Spice Logo" width="100px" height="100px">
        <button class="orderButton">Call Us Now</button>
    </div>
    <section class="hero">
        <div class="heroContent">
            <h1>Hyderabadi Dum Biryani</h1>
            <p>Slow-cooked with rich spices, fresh halal meat, and authentic Hyderabadi tradition.</p>
            <button class="orderButton">Add to Order</button>
        </div>
    </section>
    <section class="bestSellers">
        <h2>Best Sellers</h2>
        <article class="card">
            <div class="cardBody">
                <div class="cardHead">
                    <h3>Chicken Biryani</h3>
                    <p class="price">£8.99</p>
                </div>
                <p class="desc">Fragrant basmati rice and tender chicken meat, slow cooked on low heat to seal in rich, aromatic flavours.</p>
            </div>
        </article>
        <article class="card">
            <div class="cardBody">
                <div class="cardHead">
                    <h3>Lamb Biryani</h3>
                    <p class="price">£10.99</p>
                </div>
                <p class="desc">Fragrant basmati rice and tender lamb meat, slow cooked on low heat to seal in rich, aromatic flavours.</p>
            </div>
        </article>
        <article class="card">
            <div class="cardBody">
                <div class="cardHead">
                    <h3>Haleem</h3>
                    <p class="price">£7.99</p>
                </div>
                <p class="desc">A thick, hearty stew of meat, wheat, barley, and lentils, slow-cooked for rich flavor.</p>
            </div>
        </article>
        <article class="card">
            <div class="cardBody">
                <div class="cardHead">
                    <h3>Haleem</h3>
                    <p class="price">£7.99</p>
                </div>
                <p class="desc">A thick, hearty stew of meat, wheat, barley, and lentils, slow-cooked for rich flavor.</p>
            </div>
        </article>
        <article class="card">
            <div class="cardBody">
                <div class="cardHead">
                    <h3>Haleem</h3>
                    <p class="price">£7.99</p>
                </div>
                <p class="desc">A thick, hearty stew of meat, wheat, barley, and lentils, slow-cooked for rich flavor.</p>
            </div>
        </article>
        <button class="orderButton">View Full Menu</button>
    </section>
</body>
</html>