<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/sticky-header.ejs') %>
    <section class="category">
        <button class="accordion">Tandoor Items</button>
        <div class="panel">
            <article class="menuCard">
                <div class="cardHead">
                    <h3>Chicken Tikka</h3>
                    <p class="price">£3.50</p>
                </div>
                <p class="portionSize">(5 Pieces)</p>
            </article>
            <article class="menuCard">
                <div class="cardHead">
                    <h3>Chicken Malai Tikka</h3>
                    <p class="price">£3.50</p>
                </div>
                <p class="portionSize">(5 Pieces)</p>
            </article>
            <article class="menuCard">
                <div class="cardHead">
                    <h3>Gosht Seekh Kebab</h3>
                    <p class="price">£2.75</p>
                </div>
                <p class="portionSize">(2 Pieces)</p>
            </article>
            <article class="menuCard">
                <div class="cardHead">
                    <h3>Chicken Seekh Kebab</h3>
                    <p class="price">£3.00</p>
                </div>
                <p class="portionSize">(2 Pieces)</p>
            </article>
        </div>
    </section>

    <script src="js/javascript.js" defer></script>
</body>
<%- include('partials/footer.ejs') %>